div {
    margin: 20px;
    border-width: 1px;
    border-style: solid;
}

.first {
    padding-bottom: 50;
    border-color: green;
}

.second {
    madding-bottom: 50;
    border-color: red;
}

.third {
    border-color: blue;
}